
    <div class="section">
      <h2>{{title}}</h2>

      {{#each company}}
        <div class="company-entry">
          <div class="company-header">
            {{#if logo}}<img src="{{logo}}" alt="{{name}}" class="company-logo">{{/if}}
            <div class="company-info">
              <div class="company-name"><a href="{{url}}" target="_blank">{{name}}</a>, {{location}}</div>
              <div class="company-meta">
                <span class="company-date">{{date}}</span>
                <span class="company-role">{{role}}</span>
              </div>
            </div>
          </div>
          <p class="company-description">{{description}}</p>
          {{#each projects}}
            <div class="project">
              <strong class="project-name">Project: {{name}}</strong>
              <p>{{description}}</p>
              {{#if this.detail}}
              <ul class="bullet">
                {{#each this.detail}}
                  <li>{{{this.contents}}}</li>
                {{/each}}
              </ul>
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/each}}
    </div>
    <div class="section">
      <h2>Past Employment</h2>
      <div class="past-companies">
        {{#each past-company}}
        <div class="past-company-entry">
          {{#if logo}}<img src="{{logo}}" alt="{{name}}" class="past-company-logo">{{/if}}
          <div class="past-company-info">
            <span class="past-company-name"><a href="{{url}}" target="_blank">{{name}}</a>, {{location}}</span>
            <span class="past-company-date">{{date}}</span>
            <span class="past-company-role">{{role}}</span>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
