
    <div class="skycom-12 alpha">
      <h2>{{title}}</h2>

      {{#each company}}
        <strong>
          <span class="intro larger skycom-12"><a href="{{url}}" target="_blank">{{name}}</a>, {{location}}</span>
          <p class="smaller skycom-3 alpha">{{date}}</p>
          <p class="smaller skycom-9">{{role}}</p>
        </strong>
        <p class="alpha">{{description}}</p>
        {{#each projects}}
          <strong><p class="smaller skycom-12">Project: {{name}}</p></strong>
          <p>{{description}}</p>
          {{#if this.detail}}
          <ul class="bullet skycom-12">
            {{#each this.detail}}
              <li>
                {{this.contents}}
              </li>
            {{/each}}
          </ul>
          {{/if}}
        {{/each}}
      {{/each}}
    </div>
    <h3>Past Employment</h3>
    {{#each past-company}}
    <strong>
      <span class="smaller skycom-4"><a href="{{url}}" target="_blank">{{name}}</a>, {{location}}</span>
      <span class="smaller skycom-4">{{date}}</span>
      <span class="smaller skycom-4">{{role}}</span>
    </strong>
    {{/each}}
